<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>

        <!--<script src="lib/angular.min.js"></script>-->
        <script src="lib/angular.js"></script>
        <script src="lib/angular-route.min.js"></script>

        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">

				<ul class="nav navbar-nav">
					<li><a href="#/recordings"></i>Recordings</a></li>
                    <li><a href="#/channelGuide">Channel Guide</a></li>
                    <li><a href="#/scheduledRecordings">Scheduled Recordings</a></li>
                    <li><a href="#/manualRecord">Manual Record</a></li>
                    <li><a href="#/recordNow">Record Now</a></li>
                    <li><a href="#/settings">Settings</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-view></div>
            
		</div>

        <div id="footerArea" ng-controller="FooterCtrl">
            <p id="homeButton" class="footerAlignLeft">
                <button id="btnHome" class="btn btn-primary">Home</button><br><br>
            </p>

            <p id="trickModeKeys" class="footerAlignCenter">
                <button id='btnRemoteRecord' type='button' ng-click="invokeTrickMode('record');" class='btn btn-default' aria-label='Left Align'><span id="remoteRecord" class='glyphicon glyphicon-record' aria-hidden='true'></span></button>
                <button id='btnRemoteStop' type='button' ng-click="invokeTrickMode('stop');" class='btn btn-default' aria-label='Left Align'><span id="remoteStop" class='glyphicon glyphicon-stop' aria-hidden='true'></span></button>
                <button id='btnRemoteRewind' type='button' ng-click="invokeTrickMode('rewind');" class='btn btn-default' aria-label='Left Align'><span id="remoteRewind" class='glyphicon glyphicon-backward' aria-hidden='true'></span></button>
                <button id='btnRemoteInstantReplay' type='button' ng-click="invokeTrickMode('replay');" class='btn btn-default' aria-label='Left Align'><span id="remoteInstantReplay" class='glyphicon glyphicon-step-backward' aria-hidden='true'></span></button>
                <button id='btnRemotePause' type='button' ng-click="invokeTrickMode('pause');" class='btn btn-default' aria-label='Left Align'><span id="remotePause" class='glyphicon glyphicon-pause' aria-hidden='true'></span></button>
                <button id='btnRemotePlay' type='button' ng-click="invokeTrickMode('play');" class='btn btn-default' aria-label='Left Align'><span id="remotePlay" class='glyphicon glyphicon-play' aria-hidden='true'></span></button>
                <button id='btnRemoteQuickSkip' type='button' ng-click="invokeTrickMode('quickSkip');" class='btn btn-default' aria-label='Left Align'><span id="remoteQuickSkip" class='glyphicon glyphicon-step-forward' aria-hidden='true'></span></button>
                <button id='btnRemoteFastForward' type='button' ng-click="invokeTrickMode('fastForward');" class='btn btn-default' aria-label='Left Align'><span id="remoteFastForward" class='glyphicon glyphicon-forward' aria-hidden='true'></span></button>
            </p>

            <p class="footerAlignRight" />

        </div>

        <div style="clear: both;"></div>​


    </body>
</html>