<div id="scheduledRecordingsPage">
    <p class="alignleft" id="scheduledRecordingsTitle">Scheduled Recordings</p>
    <div style="clear: both;"></div>
    <table class="table">
        <tbody id="scheduledRecordingsTableBody">
        <tr ng-repeat="scheduledRecording in scheduledRecordings">
            <td><button type='button' class='btn btn-default recorded-shows-icon' id='{{scheduledRecording.recordingId}}' ng-click="invokeScheduledRecordingAction(scheduledRecording.action, scheduledRecording.recordingId)" aria-label='Left Align'><span class='glyphicon {{scheduledRecording.icon}}' aria-hidden='true'></span></button></td>
            <td>{{scheduledRecording.dateTime|formatScheduledRecordingDayOfWeek}}</td>
            <td>{{scheduledRecording.dateTime|formatScheduledRecordingFormatMonthDay}}</td>
            <td>{{scheduledRecording.dateTime|formatScheduledRecordingTimeOfDay}}</td>
            <td>{{scheduledRecording.channel}}</td>
            <td>{{scheduledRecording.stationName}}</td>
            <td>{{scheduledRecording.title}}</td>
        </tr>
        </tbody>
    </table>
</div>