<h2>Record Now</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-4 control-label">Title (optional)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" ng-model="title" id="title" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="recordNowDuration" class="col-sm-4 control-label">Duration (mins)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" ng-model="duration" id="recordNowDuration" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Input source</label>
        <div class="col-sm-4 btn-group">
            <label class="radio-inline"><input type="radio" id="rbRecordNowTuner" name="recordNowInputSource" ng-model="inputSource" value="tuner" checked>Tuner</label>
            <label class="radio-inline"><input type="radio" id="rbRecordNowRoku" name="recordNowInputSource" ng-model="inputSource" value="roku">Roku</label>
            <label class="radio-inline"><input type="radio" id="rbRecordNowTivo" name="recordNowInputSource" ng-model="inputSource" value="tivo">Tivo</label>
        </div>
    </div>
    <div id="recordNowChannelDiv" class="form-group" ng-show=showChannel();>
        <label for="recordNowChannel" class="col-sm-4 control-label">Channel</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" ng-model="channel" id="recordNowChannel" value="5">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button id="btnRecordNow" class="btn btn-default" ng-click="invokeRecordNow();">Record Now</button>
        </div>
    </div>
</form>
