<head>
    <base href="/">
</head>

<body ng-app="jtr" ng-strict-di="">

<header>
    <nav class="navbar navbar-default">
        <!--<div class="container">-->
        <div>
            <ul class="nav navbar-nav" ng-controller="$NavsCtrl">
                <!--<li ng-class="navClass(nav)" ng-repeat="nav in navs"><a href="{{nav.link}}" ng-click="setSelectedNav(nav)">{{nav.label}}</a></li>-->
                <!--<li ng-class="navClass(nav)" ng-repeat="nav in navs"><a href="{{nav.link}}" ng-click="setSelectedNav(nav)">{{nav.label}}</a></li>-->
                <li ng-class="navClass(nav)" ng-repeat="nav in navs"><button ui-sref="{{nav.state}}">{{nav.label}}</button>
                <!--<a href="{{nav.link}}" ng-click="setSelectedNav(nav)">{{nav.label}}</a></li>-->
                <!--<button ui-sref="settings">Settings</button>-->

            </ul>
        </div>
    </nav>
</header>

<div ui-view=""></div>

</body>
